.about {

	& {
		background-color: #fff;
	}

	&__title {
		text-align: center;
	}

	&__god-div {
    background-color: #a7a7a7;
		height: 100%;
		padding: 10px;

    @media ( --break-tablet ) {
      @neat-outer-container;
    }
	}

	&__god-title {
		text-align: center;
	}

	&__parent-div {
		width: 100%;
		background-color: #5ae1c0;
		height: 100%;
		padding: 10px;

    @media ( --break-tablet ) {
      @neat-span-columns 6;
    }
	}

	&__parent-title {
		text-align: center;
	}

	&__child-div {
		width: 100%;
		height: 100%;
    background-color: #e15ad0;
    padding: 10px;

    &:last-child {
      margin-top: 10px;
    }

    @media ( --break-tablet ) {
      @neat-span-columns 6 12;	
      height: 300px;
    }
	}

	&__baby-div {
		display: table;
		width: 100%;
		height: 100%;
		margin: 0;

		@media ( --break-tablet ) {
  		width: 600px;
  		margin: 0 auto;
  	}
	}

	&__fetus-div {
		display: table-cell;
  	vertical-align: middle;
  	margin: 0;
	}

	&__child-title {
  	text-align: center;

  	@media ( --break-tablet ) {
			margin-top: 0;
  	}
	}

  &__some-text {
		margin: 0 auto;
		width: 100%;
  }
}