doctype html
html(lang="en")
	block vars
	head
		block title
			title #{pageTitle} - gulp postcss static site
		link(rel='stylesheet', href='/styles/styles.min.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

	body(class='#{bodyClass}')

		header.site-header
			.container
				ul.site-header__nav-list
					li.site-header__nav-item
						a.site-header__nav-link(href='index.html') Home
					li.site-header__nav-item
						a.site-header__nav-link(href='about.html') About

		block content
		
		.site-footer
			.container
				p copyright jarno 2015
		script(src='/scripts/main.min.js')