extends ./views/_layout.jade
block vars
	- var pageTitle = 'About postcss'
	- var bodyClass = 'about'

block content
	.about
		h1.about__title About postCSS-neat fluid grid
		.about__god-div 
			h2.about__god-title God div title
			.about__parent-div
				h3.about__parent-title Parent div title
				.about__child-div
					.about__baby-div
						.about__fetus-div
							h4.about__child-title Child div title
							p.about__some-text Duis mollis, dolor a pretium feugiat, odio sem volutpat neque, a aliquet justo libero eget erat. Sed facilisis tortor eros. Mauris eu risus eget massa lobortis facilisis. Sed aliquam augue non arcu egestas, nec eleifend odio condimentum. Quisque augue dolor, suscipit in odio sit amet, commodo pellentesque nulla. Vivamus sodales est eu purus accumsan, sed vestibulum dui tincidunt. Fusce aliquam sed erat ut scelerisque.
				.about__child-div
					.about__baby-div
						.about__fetus-div
							h4.about__child-title Child div title
							p.about__some-text Integer rhoncus nec ex vitae facilisis. Ut ut purus vel nisl molestie pharetra at eget velit. Nam sit amet neque mi. Maecenas dignissim quam ex, sodales venenatis ante sodales et. Mauris felis nisl, ornare vitae lectus eget, iaculis maximus mi. Suspendisse a hendrerit metus, consequat blandit urna. Maecenas non malesuada urna. Sed a leo id sem condimentum lacinia hendrerit nec ex. Mauris finibus tincidunt turpis et varius. Cras eu sapien neque. Mauris urna massa, interdum non nisl sit amet, suscipit blandit mi.
			.about__parent-div
				h3.about__parent-title Parent div title 
				.about__child-div
					.about__baby-div
						.about__fetus-div
							h4.about__child-title.about__child-title Child div title
							p.about__some-text Aenean eu mollis felis. Mauris in semper dui. Duis maximus, nisi non laoreet malesuada, augue magna molestie nisi, nec feugiat lorem mi eleifend orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce pretium mollis ipsum, ut cursus mi consectetur sed. Pellentesque in urna cursus, consectetur justo a, ullamcorper nibh. Quisque iaculis massa eu sollicitudin consectetur. Aliquam erat volutpat. Donec interdum nunc lorem, at porttitor lacus mattis nec. Nunc eget leo vitae tellus maximus iaculis. Ut sit amet est nibh. Vestibulum commodo fringilla quam, a pulvinar libero scelerisque id.
				.about__child-div
					.about__baby-div
						.about__fetus-div
							h4.about__child-title Child div title
							p.about__some-text Curabitur in sollicitudin ipsum. Pellentesque mollis arcu ut sagittis vulputate. Fusce cursus sagittis tellus. Phasellus sollicitudin urna ut ex condimentum, tempus scelerisque diam pretium. Duis finibus pretium porta. Donec in feugiat lacus, ullamcorper commodo felis. Duis sodales tincidunt finibus. Vestibulum elementum suscipit vulputate. Nullam dolor ex, tempus at libero in, dictum aliquam elit. Duis non ex fermentum purus facilisis mollis a eu nulla. Morbi non dui nec orci auctor ornare. Integer vel sapien egestas, feugiat justo quis, commodo justo. Vivamus congue sem eu neque suscipit, placerat aliquam nibh viverra. Proin at nisi quis ante pellentesque placerat. Donec sit amet urna elit. Sed a risus tellus.