extends ./views/_layout.jade
block vars
	- var pageTitle = 'About postcss'
	- var bodyClass = 'about'

block content
	.about
		h1.about__title About postCSS-neat fluid grid
		.about__god-div 
			h2.about__god-title God div title
			.about__parent-div
				h3.about__parent-title Parent div title
				.about__child-div
					h4.about__child-title Child div title
				.about__child-div
					h4.about__child-title Child div title
			.about__parent-div
				h3.about__parent-title Parent div title
				.about__child-div
					h4.about__child-title Child div title
				.about__child-div
					h4.about__child-title Child div title